<app-universal-exercise
  [headline]="'Uporządkuj słowa'"
  [isChecking]="isCheck"
  [amount]="amount"
  [score]="result"
  (summaryEvents)="summaryEvents($event)"
>

  <div class="main">

    <div class="main__row" *ngFor="let list of workingList">

      <div class="main__row__list-id">{{list.id}}.</div>

      <div
        class="main__row__word-container"
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event, list.id)"
        [cdkDropListDisabled]="isCheck"
      >

        <div
          class="main__row__word-container__word"
          *ngFor="let word of list.words"
          cdkDrag
        >
          {{word}}
        </div>

      </div>

      <mat-icon
        class="main__row__mat-icon"
        [ngClass]="{
          'main__row__mat-icon--show': isCheck,
          'main__row__mat-icon--correct':
            list.words.toString()
              === correctListOfWords[list.id - 1].words.toString()
        }"
      >
        {{
          list.words.toString()
            === correctListOfWords[list.id - 1].words.toString()
          ? 'done' : 'warning'
        }}
      </mat-icon>

    </div>

  </div>

</app-universal-exercise>
