<div class="wrapper">

  <app-task-headline
    [headline]="'Uporządkuj słowa'"
    [isChecking]="isCheck"
    [amount]="workingWordsList.length"
    [score]="result"
  ></app-task-headline>

  <div class="wrapper__column">

    <div
      class="wrapper__column__row"
      *ngFor="let list of workingWordsList"
    >
      <div class="wrapper__column__row__list-id">{{list.id}}.</div>

      <div
        class="wrapper__column__row__word-container"
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event, list.id)"
        [cdkDropListDisabled]="isCheck"
      >

        <div
          class="wrapper__column__row__word-container__word"
          *ngFor="let word of list.words"
          cdkDrag
        >
          {{word}}
        </div>

      </div>

      <mat-icon
        class="wrapper__column__row__mat-icon"
        [ngClass]="{
          'wrapper__column__row__mat-icon--show': isCheck,
          'wrapper__column__row__mat-icon--correct':
            list.words.toString()
              === correctListOfWords[list.id - 1].words.toString()
        }"
      >
        {{list.words.toString()
            === correctListOfWords[list.id - 1].words.toString()
              ? 'done' : 'warning'}}
      </mat-icon>

    </div>

  </div>

  <app-summary
    [isChecking]="isCheck"
    (summaryEvents)="summaryEvents($event)"
  ></app-summary>

</div>
