<app-universal-exercise
  [headline]="'Uzupełnij tekst'"
  [isChecking]="isCheck"
  [amount]="amount"
  [score]="result"
  (summaryEvents)="summaryEvents($event)"
>

  <div class="main">

    <div
      class="main__sentence-container"
      *ngFor="let sentence of mainTxtArray; index as i"
    >

      <span class="main__sentence-container__sentence">
        {{sentence}}
      </span>

      <select
        class="main__sentence-container__ch-word"
        #selectRef
        *ngIf="i < answers.length"
        (change)="fillUserChoice($event, i)"
        [ngClass]="{
            'main__sentence-container__ch-word--not-check': !isCheck,
            'main__sentence-container__ch-word--correct':
              workingAnswers[i].val === answers[i].correct
          }"
        [disabled]="isCheck"
      >

        <option selected></option>
        <option
          *ngFor="let word of (answers | selectAnswers: i)"
          [value]="word"
        >
          {{word}}
        </option>

      </select>

    </div>

    <div class="main__copyright">
      source: African lion,
      facts and photos,
      https://www.nationalgeographic.com/animals/mammals/facts/african-lion
    </div>

  </div>

</app-universal-exercise>
