<app-universal-exercise
  [headline]="'Ułóż cyfry w odpowiedniej kolejności'"
  [isChecking]="isCheck"
  [amount]="amount"
  [score]="result"
  (summaryEvents)="summaryEvents($event)"
>

  <div
    class="main"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
  >

    <div class="main__icon main__icon--swap">
      <mat-icon inline="true">swap_vert</mat-icon>
    </div>

    <div class="main__icon main__icon--smile">
      <mat-icon inline="true">sentiment_very_satisfied</mat-icon>
    </div>

    <div
      class="main__row"
      *ngFor="let digit of workingList; index as i"
      cdkDrag
      [ngClass]="{
        'main__row--correct': isCheck && (digit.id === i + 1),
        'main__row--wrong': isCheck && (digit.id !== i + 1)
      }"
    >
      {{digit.name}}
    </div>

  </div>

</app-universal-exercise>
