<ng-template appPlaceholder></ng-template>

<app-universal-exercise
  [headline]="'Podaj odpowiednią nazwe koloru'"
  [isChecking]="isCheck"
  [amount]="amount"
  [score]="result"
  [isLastTask]="true"
  (summaryEvents)="summaryEvents($event)"
>
  <div class="main">

    <div class="main__element" *ngFor="let color of workingList">

      <div class="main__element__inner">

        <div
          class="main__element__inner__color"
          [ngStyle]="{ 'background-color': color.hex }"
        ></div>

        <input
          [(ngModel)]="color.value"
          type="text"
          class="main__element__inner__txt"
          placeholder="color"
        >

        <div
          class="main__element__inner__icon"
          [ngClass]="{
          'main__element__inner__icon--show': isCheck,
          'main__element__inner__icon--correct':
            color.name.toLocaleLowerCase() === color.value.toLocaleLowerCase()
          }"
        >

          <mat-icon inline="true">
            {{
            color.name.toLocaleLowerCase() === color.value.toLocaleLowerCase()
              ? 'done' : 'warning'
            }}
          </mat-icon>

        </div>

      </div>

    </div>

  </div>

</app-universal-exercise>
