@import 'src/app/shared/style/variable';

.wrapper {

  &__headline {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;

    &__left {
      display: flex;
      align-items: baseline;
      gap: 10px;
    }

    &__right em {
      color: green;
      font-style: normal;
    }
  }
}
