<div class="summary">

  <div class="summary__left-side">

    <button
      class="wrapper__left-side__btn"
      mat-raised-button
      color="primary"
      [disabled]="isChecking"
      (click)="summaryEvents.emit('check')"
    >
      {{'shared.components.summary.check-btn' | translate}}
    </button>

    <button
      class="wrapper__check-bar__btn"
      mat-raised-button
      color="warn"
      (click)="summaryEvents.emit('reset')"
    >
      {{'shared.components.summary.reset-btn' | translate}}
    </button>

  </div>

  <div class="summary__right-side" *ngIf="isChecking">
    <button
      class="summary__right-side__btn"
      mat-stroked-button
      color="accent"
      (click)="summaryEvents.emit('next')"
    >
      {{'shared.components.summary.next-btn' | translate}}
    </button>
  </div>

</div>
