<div class="wrapper">

  <h2 class="wrapper__headline">Dopasuj nazwe zwierzątka</h2>

  <ul class="wrapper__column" cdkDropListGroup>

    <li
      class="wrapper__column__element"
      *ngFor="let el of listOfAnimalObj; index as i"
      cdkDropList
      [id]="el.id.toString()"
      cdkDropListConnectedTo="animal-name-list"
      (cdkDropListDropped)="drop($event)"
    >

      <div class="wrapper__column__element__seq">{{i + 1}}.</div>

      <fa-icon
        [icon]="el.icon"
        [ngStyle]="{'color': el.color}"
      ></fa-icon>

      <input
        class="wrapper__column__element__text"
        readonly
        [value]="el.dropAnimal.txt | translate"
        [ngClass]="{
          'wrapper__column__element__text--insert': el.dropAnimal.id > 0
        }"
      >

      <mat-icon
        class="wrapper__column__element__mat-icon"
        [ngClass]="{
          'wrapper__column__element__mat-icon--show': isCheck,
          'wrapper__column__element__mat-icon--correct': el.dropAnimal.id == el.id
        }"
      >{{el.dropAnimal.id == el.id ? 'done' : 'warning'}}</mat-icon>

    </li>

  </ul>

  <div
    class="wrapper__container-names"
    cdkDropList
    cdkDropListSortingDisabled
    id="animal-name-list"
    [cdkDropListConnectedTo]="listOfAnimalObj | idStrList"
  >

    <div
      class="wrapper__container-names__item"
      *ngFor="let animal of listOfNames"
      [id]="animal.id"
      cdkDrag
    >

      <ng-template *cdkDragPlaceholder></ng-template>

      <div
        class="wrapper__container-names__item
          wrapper__container-names__item--cdk-preview"
        *cdkDragPreview
      >
        {{animal.txt | translate}}
      </div>

      {{animal.txt | translate}}
    </div>

  </div>

  <div class="wrapper__check-bar">

    <div class="wrapper__check-bar__left">

      <button
        class="wrapper__check-bar__btn"
        mat-raised-button
        color="primary"
        (click)="check()"
      >
        {{'exercises.ex01.buttons.check-btn' | translate}}
      </button>

      <button
        class="wrapper__check-bar__btn"
        mat-raised-button
        color="warn"
        (click)="reset()"
      >
        {{'exercises.ex01.buttons.reset-btn' | translate}}
      </button>

      <button
        class="wrapper__check-bar__btn"
        *ngIf="result === listOfAnimalObj.length"
        mat-raised-button
        color="accent"
        routerLink="../ex-02"
      >
        {{'exercises.ex01.buttons.next-btn' | translate}}
      </button>

    </div>

    <div class="wrapper__check-bar__right" *ngIf="isCheck">

      <span *ngIf="result === listOfAnimalObj.length">
        {{'exercises.ex01.summary.next-page' | translate}}
      </span>

      <span>
        {{'exercises.ex01.summary.result' | translate}}
        {{result + ' / ' + listOfAnimalObj?.length}}
      </span>

    </div>

  </div>

</div>
