@import "src/app/shared/style/variable";

@media (min-width: 0) {
  .wrapper {

    &__column {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 10px;

      &__element {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 230px;

        fa-icon { font-size: 1.1rem; }

        &__text {
          border: 0;
          background-color: rgba(167, 211, 166, .7);
          padding: 5px;
          width: 120px;
          border-radius: 5px;
          text-align: center;
          cursor: not-allowed;

          &--insert {
            background-color: $cool-green;
            color: white;
          }
        }

        &__mat-icon {
          opacity: 0;
          color: red;
          font-size: 1rem;

          &--show { opacity: 1; }
          &--correct { color: $cool-green; }
        }
      }
    }

    &__container-names {
      background-color: rgba(167, 211, 166, .7);
      padding: 15px;
      display: flex;
      gap: 20px;
      border-radius: 5px;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 20px;

      &__item {
        padding: 5px;
        width: 120px;
        background-color: white;
        border-radius: 5px;
        text-align: center;
        transition: background-color .3s ease-in-out;
        cursor: grab !important;

        &:hover, &--cdk-preview {
          background-color: $cool-green;
          color: white;
        }
      }
    }
  }
}

@media (min-width: 700px) {
  .wrapper {
    &__column {
      height: 200px;
    }
  }
}
