<div class="wrapper">

  <app-task-headline
    [headline]="'Dopasuj nazwy zwierząt'"
    [isChecking]="isCheck"
    [amount]="listOfAnimalObj.length"
    [score]="result"
  ></app-task-headline>

  <ul class="wrapper__column" cdkDropListGroup>

    <li
      class="wrapper__column__element"
      *ngFor="let el of listOfAnimalObj; index as i"
      cdkDropList
      [id]="el.id.toString()"
      cdkDropListConnectedTo="animal-name-list"
      (cdkDropListDropped)="drop($event)"
    >

      <div class="wrapper__column__element__seq">{{i + 1}}.</div>

      <fa-icon
        [icon]="el.icon"
        [ngStyle]="{'color': el.color}"
      ></fa-icon>

      <input
        class="wrapper__column__element__text"
        readonly
        [value]="el.dropAnimal.txt | translate"
        [ngClass]="{
          'wrapper__column__element__text--insert': el.dropAnimal.id > 0
        }"
      >

      <mat-icon
        class="wrapper__column__element__mat-icon"
        [ngClass]="{
          'wrapper__column__element__mat-icon--show': isCheck,
          'wrapper__column__element__mat-icon--correct': el.dropAnimal.id == el.id
        }"
      >{{el.dropAnimal.id == el.id ? 'done' : 'warning'}}</mat-icon>

    </li>

  </ul>

  <div
    class="wrapper__container-names"
    cdkDropList
    cdkDropListSortingDisabled
    id="animal-name-list"
    [cdkDropListConnectedTo]="listOfAnimalObj | idStrList"
  >

    <div
      class="wrapper__container-names__item"
      *ngFor="let animal of listOfNames"
      [id]="animal.id"
      cdkDrag
    >

      <ng-template *cdkDragPlaceholder></ng-template>

      <div
        class="wrapper__container-names__item
          wrapper__container-names__item--cdk-preview"
        *cdkDragPreview
      >
        {{animal.txt | translate}}
      </div>

      {{animal.txt | translate}}
    </div>

  </div>

  <app-summary
    [isChecking]="isCheck"
    (summaryEvents)="summaryEvents($event)"
  ></app-summary>

</div>
