
@media (min-width: 0) {
  .wrapper {

    &__column {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 10px;

      &__element {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 190px;

        input {
          border: 0;
          background-color: rgba(167, 211, 166, .7);
          padding: 5px;
          width: 120px;
          border-radius: 5px;
          text-align: center;
        }
      }
    }
  }
}

@media (min-width: 700px) {
  .wrapper {
    &__column {
      height: 200px;
    }
  }
}
