<app-universal-exercise
  [headline]="'Dopasuj nazwe do zwierzątka'"
  [isChecking]="isCheck"
  [amount]="amount"
  [score]="result"
  (summaryEvents)="summaryEvents($event)"
>

  <div class="main">

    <ul class="main__column" cdkDropListGroup>

      <li
        class="main__column__element"
        *ngFor="let el of listOfAnimalObj; index as i"
        cdkDropList
        [id]="el.id.toString()"
        cdkDropListConnectedTo="animal-name-list"
        (cdkDropListDropped)="drop($event)"
      >

        <fa-icon
          [icon]="el.icon"
          [ngStyle]="{'color': el.color}"
        ></fa-icon>

        <input
          class="main__column__element__text"
          readonly
          [value]="el.dropAnimal.txt | translate"
          [ngClass]="{
            'main__column__element__text--insert': el.dropAnimal.id > 0
          }"
        >

        <mat-icon
          class="main__column__element__mat-icon"
          [ngClass]="{
            'main__column__element__mat-icon--show': isCheck,
            'main__column__element__mat-icon--correct': el.dropAnimal.id == el.id
          }"
        >{{el.dropAnimal.id == el.id ? 'done' : 'warning'}}</mat-icon>

      </li>

    </ul>

    <div
      class="main__container-names"
      cdkDropList
      cdkDropListSortingDisabled
      id="animal-name-list"
      [cdkDropListConnectedTo]="listOfAnimalObj | idStrList"
    >

      <div
        class="main__container-names__item"
        *ngFor="let animal of listOfNames"
        [id]="animal.id"
        cdkDrag
      >

        <ng-template *cdkDragPlaceholder></ng-template>

        <div
          *cdkDragPreview
          class="main__container-names__item
            main__container-names__item--cdk-preview"
        >
          {{animal.txt | translate}}
        </div>

        {{animal.txt | translate}}
      </div>

    </div>

  </div>

</app-universal-exercise>
